.calculator {
  background-color: rgb(74, 68, 68);
  height: 700px;
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
}

.calculator_in {
  margin: 0 auto;
  background-color: white;
  height: 690px;
  width: 490px;
  /* padding-top: 10px; */
  border: 1px solid black;
}

.display {
  height: 100px;
  width: 450px;
  /* background-color: red; */
  margin-top: 20px;
  margin-left: 17px;
  /* border: 2px solid black; */
  font-size: 50px;
}

.display input {
  height: 100px;
  width: 450px;
  font-size: 50px;
  border: 2px solid black;
}

.c {
  height: 80px;
  width: 100px;
  /* background-color: red; */
  margin-left: 17px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.b1 {
  height: 80px;
  width: 100px;
  /* background-color: blue; */
  margin-left: 17px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.b2 {
  height: 80px;
  width: 100px;
  /* background-color: yellow; */
  margin-left: 17px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.level1 {
  display: flex;
  padding-inline: 50px;
  justify-content: center;
}

.level2 {
  display: flex;
  justify-content: center;
  padding-inline: 100px;
}

.zero {
  height: 80px;
  width: 100px;
  /* background-color: yellow; */
  margin-left: 17px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.point {
  height: 80px;
  width: 100px;
  /* background-color: yellow; */
  margin-left: 17px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.c button {
  height: 80px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 50px;
}

.b1 button {
  height: 80px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 50px;
}

.b2 button {
  height: 80px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 50px;
}

.zero button {
  height: 80px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 50px;
}

.point button {
  height: 80px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 50px;
}